$clr-white: #fff;
$clr-black: #000;

$clr-blue-90: #070724;
$clr-blue-80: #2d68f0;
$clr-blue-70: #419ebb;

$clr-violet-90: #6f2ed6;
$clr-green-20: #1ec2a4;

$clr-grey-90: #38384f;
$clr-grey-80: #838391;

$clr-orange-90: #cd5120;
$clr-orange-80: #eda249;

$clr-red-70: #d14c32;
$clr-red-60: #d83a34;
